<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

  <div class="header">
    Christopher Tate's Data.Gov API 
  </div>
  
  <div class="body-content">
    @RenderBody()
  </div>

  <div class="footer">
      <br/>
    05/20/2022
  </div>
</body>
</html>
